<html>
<head>
    <title>welcome page</title>
</head>
    <body>
        <h1>{{title}}</h1>

        <footer>
            <p>
                copyright {{CurrentYear}}
            </p>
        </footer>
    </body>
</html>