<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <title>User-Editable Shapes</title>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="/js/index.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPRa-8xhczNM8dfYNBWl5BpLJAbQ0_5dU&callback=initMap&libraries=drawing"></script>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body ng-controller="myCtrl" >
      <div id="innerMap"><div id="map"></div></div>
 
    <script >
      // This example adds a user-editable rectangle to the map.

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 31.263433, lng: 34.810893},
          zoom: 9
        });

          var drawingManager = new google.maps.drawing.DrawingManager({
            drawingMode: google.maps.drawing.OverlayType.MARKER,
            drawingControl: true,
            drawingControlOptions: {
              position: google.maps.ControlPosition.TOP_CENTER,
              drawingModes: ['marker', 'circle', 'polygon', 'polyline', 'rectangle']
            }
           
          });
          
          drawingManager.setMap(map);
          
          var bounds = {
          north: 31.4634,
          south: 31.3634,
          east: 34.8108,
          west: 34.6103
        };

        // Define a rectangle and set its editable property to true.
        var rectangle = new google.maps.Rectangle({
          bounds: bounds,
          editable: true,
          draggable: true
        });
        rectangle.setMap(map);

          var HttpClient = function() {
            this.get = function(aUrl, aCallback) {
                var anHttpRequest = new XMLHttpRequest();
                anHttpRequest.onreadystatechange = function() { 
                    if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                        aCallback(anHttpRequest.responseText);
        }

        anHttpRequest.open( "GET", aUrl, true );            
        anHttpRequest.send( null );
    }
}
        var client = new HttpClient();
        var h = 0;
            client.get('/getFOV/' + rectangle.getBounds(), function(response) {
                // do something with response
                var h = 0;
        });
        rectangle.addListener('click', function(rectangle) {
            var h =0;
            var client = new HttpClient();
                client.get('/getFOV', function(response) {
                    // do something with response
                    var h = 0;
            });
        });

     }
    </script>   
    
        
      
  </body>
</html>