<!DOCTYPE html>
<html ng-app="myApp">
  <head>
        <link href="/stylesheet/map.css">
        <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        ></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
        <script src="/js/maps.js"></script>
        <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPRa-8xhczNM8dfYNBWl5BpLJAbQ0_5dU&libraries=drawing"></script>
        
  </head>
  <body ng-controller="newPlaceCtrl">
       
        <div id="map"></div>
        <button id="SendData" ng-click="SendData()"> Click if you are done</button>
  </body>
  </html>


    